<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Margit Feyerer-Fleischanderl-Biografie</title>
        <!-- Favicon-->
        <link rel="shortcut icon" href="#">
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <!-- CSS only -->
        <link href="css/bootstrap5.0.2.min.css" rel="stylesheet" />
        <link href="css/biography.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="/">
                    Margit Feyerer-Fleischanderl
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <!-- 나중에 active빼기 -->
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                HOME
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/skulptur">
                                SKULPTUR
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/zeichnung">
                                ZEICHNUNG
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/objekt">
                                OBJEKT
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/text">
                                TEXT
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/presse">
                                PRESSE
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/biography">
                                BIOGRAFIE
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">
                                KONTAKT
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="standard_wrap">
            <div class="biography_item container">
                <p class="year text-left">
                    1959
                </p>
                <p class="biography_text">
                    geboren in Linz <br>
                    Fachschule für Gebrauchsgrafik – Linz <br>
                    Fachschule für Gebrauchsgrafik – Linz <br>
                    Fachschule für Gebrauchsgrafik – Linz <br>
                    Fachschule für Gebrauchsgrafik – Linz <br>
                    Fachschule für Gebrauchsgrafik – Linz <br>
                    Fachschule für Gebrauchsgrafik – Linz <br>
                </p>
            </div>
            <div class="biography_item container">
                <p class="year text-left">
                    1974 - 1978
                </p>
                <p class="biography_text">
                    Fachschule für Gebrauchsgrafik – Linz
                </p>
            </div>
            <div class="biography_item container">
                <p class="year text-left">
                    1979 - 1984
                </p>
                <p class="biography_text">
                    Hochschule für Gestaltung in Linz, Meisterklasse Malerei und Grafik
                </p>
            </div>
            <div class="biography_item container">
                <p class="year text-left">
                    ab 1985
                </p>
                <p class="biography_text">
                    freischaffend
                </p>
            </div>
        </div>
        
        
        
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Einzelausstellungen
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <div class="biography_item container">
                            <p class="year text-left">
                                1959
                            </p>
                            <p class="biography_text">
                                geboren in Linz
                            </p>
                        </div>
                        <div class="biography_item container">
                            <p class="year text-left">
                                1974 - 1978
                            </p>
                            <p class="biography_text">
                                Fachschule für Gebrauchsgrafik – Linz
                            </p>
                        </div>
                        <div class="biography_item container">
                            <p class="year text-left">
                                1979 - 1984
                            </p>
                            <p class="biography_text">
                                Hochschule für Gestaltung in Linz, Meisterklasse Malerei und Grafik
                            </p>
                        </div>
                        <div class="biography_item container">
                            <p class="year text-left">
                                ab 1985
                            </p>
                            <p class="biography_text">
                                freischaffend
                            </p>
                        </div>
                        <div class="biography_item container">
                            <p class="year text-left">
                                1959
                            </p>
                            <p class="biography_text">
                                geboren in Linz
                            </p>
                        </div>
                        <div class="biography_item container">
                            <p class="year text-left">
                                1974 - 1978
                            </p>
                            <p class="biography_text">
                                Fachschule für Gebrauchsgrafik – Linz <br>
                                Hochschule für Gestaltung in Linz, Meisterklasse<br> Malerei und Grafik<br>
                                freischaffend<br>
                            </p>
                        </div>
                        <div class="biography_item container">
                            <p class="year text-left">
                                1979 - 1984
                            </p>
                            <p class="biography_text">
                                Hochschule für Gestaltung in Linz, Meisterklasse Malerei und Grafik
                            </p>
                        </div>
                        <div class="biography_item container">
                            <p class="year text-left">
                                ab 1985
                            </p>
                            <p class="biography_text">
                                freischaffend
                            </p>
                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                    Gruppenausstellungen
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Lesungen
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                    Ankäufe - Stipendien
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
        </div>
   
        <!-- Bootstrap core JS-->
        <script src="script/jquery3_5_1.js"></script>
        <!-- nav bar -->
        <script src="script/bootstrap4_6_0.js"></script>
        <!-- accordion -->
        <script src="script/bootstrap5.0.2.bundle.js" ></script>
       
        <script src="script/biography.js" ></script>


        

       
        <script type="rv-template" id="biography_content">
            
        </script>
        
        
        
        
    </body>
</html>
