<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Margit Feyerer-Fleischanderl-Home</title>
        <!-- Favicon-->
        <link rel="shortcut icon" href="#">
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <link href="css/bootstrap5.0.2.min.css" rel="stylesheet" />
        <link href="css/contact.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="/">
                    Margit Feyerer-Fleischanderl
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                HOME
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery">
                                SKULPTUR
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery">
                                ZEICHNUNG
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery">
                                OBJEKT
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/text">
                                TEXT
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/biography">
                                BIOGRAFIE
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/contact">
                                KONTAKT
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        
        
        
        
        
        <!-- Bootstrap core JS-->
        <script src="script/jquery3_5_1.js"></script>
        <script src="script/bootstrap4_6_0.js"></script>
        

        <script type="rv-template" id="contact_content_wrap">
            <div class="container">
                <div class="item_wrap">
                    <h1 class="title_text">Kontakt</h1>
                    <p class="item_text">
                        {Straße} {HausNummer} <br>
                        {Postleitzahl} {Stadt} <br>
                        {Telefonnummer} <br> <br>

                        <strong>{Email}</strong>
                    </p>
                </div>
                <div class="item_wrap">
                    <h1 class="title_text">Medieninhaber und Herausgeber</h1>
                    <p class="item_text">
                        {homepage_owner}
                    </p>
                </div>
                <div class="item_wrap">
                    <h1 class="title_text">Gestaltung</h1>
                    <p class="item_text">
                        {homepage_producer}
                    </p>
                </div>
                <div class="item_wrap">
                    <h1 class="title_text">Grundlegende Richtung</h1>
                    <p class="item_text">
                        {Homepage_category}
                    </p>
                </div>
                <div class="item_wrap">
                    <h1 class="title_text">Haftung</h1>
                    <p class="item_text">
                        {liability_text}
                    </p>
                </div>
                <div class="item_wrap">
                    <h1 class="title_text">Links</h1>
                    <p class="item_text">
                        {links_text}
                    </p>
                </div>
            </div>
        </script>

        <script src="script/contact.js"></script>
    </body>
</html>
